---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = '' } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 2em 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="prose">
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html>
